body {
    font-family: Calibri, sans-serif;
    color: #303030;
    background-color: #0e0d0d;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasiyici {
    width: 500px;
    min-height: 500px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .tasiyici::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../Resimler/Login_Background2.jpg');
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

.baslik {
    text-align: center;
    color: white;
    margin: 10px 0;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.sol {
    color: white;
    position: relative;
    z-index: 1;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.satir {
    padding: 1px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mailLabel, .sifreLabel {
    margin-bottom: -1px;
    margin-left: 55px;
    color: white;
}

.metinKutu {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #d5d5d5;
    background-color: rgba(239, 239, 239, 0.9);
    width: 70%;
    box-sizing: border-box;
    margin: 5px 0;
    margin-left: 50px;
    outline: none;
}

.sifirlaButon {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #467d42;
    color: white;
    cursor: pointer;
    width: 30%;
    font-size: 16px;
    transition: background-color 0.3s;
    position: relative;
    z-index: 1;
    margin: 10px auto;
}

    .sifirlaButon:hover {
        background-color: #5cb85c;
    }

/* Mesaj Paneli Stili */
#pnl_mesaj {
    width: 80%; /* Genişlik %80 olarak ayarlandı */
    margin: 10px auto; /* Ortala */
    text-align: center; /* Metni ortala */
    position: relative; /* Üzerine alacak öğeler için konum */
    z-index: 1;
    display: flex; /* Flexbox düzeni */
    justify-content: center; /* Yatay ortala */
    align-items: center; /* Dikey ortala */
}

.panelBasarisiz {
    background-color: #d9534f;
    color: white;
    padding: 10px;
    border: 1px solid #d9534f;
    border-radius: 10px;
    margin-top: 10px;
    width: 80%;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 10px 0;
}

/* Başarı mesajı stili */
.success-message {
    color: #4CAF50; /* Yeşil renk */
    background-color: #dff0d8; /* Açık yeşil arka plan */
    border: 1px solid #4CAF50; /* Yeşil kenarlık */
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    width: 80%; /* Genişlik %80 olarak ayarlandı */
    margin: 10px auto; /* Ortala */
    text-align: center; /* Metni ortala */
    position: relative; /* Üzerine alacak öğeler için konum */
    z-index: 1;
}

/* Başarısızlık mesajı stili */
.error-message {
    color: #F44336; /* Kırmızı renk */
    background-color: #f2dede; /* Açık kırmızı arka plan */
    border: 1px solid #F44336; /* Kırmızı kenarlık */
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    width: 80%; /* Genişlik %80 olarak ayarlandı */
    margin: 10px auto; /* Ortala */
    text-align: center; /* Metni ortala */
    position: relative; /* Üzerine alacak öğeler için konum */
    z-index: 1;
}

.message-panel {
    position: relative; /* Sayfanın diğer elemanlarıyla kaydırma olmadan konumlandırılır */
    margin-top: 10px; /* Mesaj paneli ile buton arasında boşluk bırakır */
}
